:root {
    --progress-field-diameter: 80px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 800px;
    margin: 0 auto;
    font-family: sans-serif;
    background: rgba(252,224,255,0.36);
}

header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 20px;
}

.three-by-three {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    background: rgba(169,219,255,0.36);
}

.pf-row {
    display: flex;
    justify-content: space-around;
}

.row-rev {
    flex-direction: row-reverse;
}

.progress-field {
    height: var(--progress-field-diameter);
    width: var(--progress-field-diameter);
    background: orange;
    border-radius: 100%;
    /*margin: 20px;*/
    /*text-align: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-field-done {
    background: rgba(255,165,0,0.35);
}

.progress-field-current {
    background: rgba(71, 102, 220, 0.55);
}

#input-area-el {
    min-height: 300px;
    background: rgba(86,255,188,0.35);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#answers-el {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#answers-el button {
    min-width: 70px;
    max-width: 180px;
    margin: 15px 10px;
    padding: 5px;
}
